.footer {
    background-color: #292929;
    color: #fff;
    padding: 60px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    max-width: 300px;
    padding: 0 20px;
  }
  
  .footer h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .footer p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer-social {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-social a {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #f39c12;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 0.9rem;
  }
  

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .footer {
    animation: fadeInUp 1s ease;
  }
  